extends base

block content
  main.main
    .about-container
      .about__content
        .about__text
          section#about-me
            h2 About Me
            p I am Oliver. I am an artist with Australian, Maltese, and British heritage.

          section#purpose
            h2 Purpose of this Site
            p The goal of this site is to raise money to support my living expenses. 
            p I have autism and epilepsy. Which makes it very difficult for me to find and keep traditional employment. Selling my art is how I support myself.